@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model LoginModel;

<div class="login text-center" style="padding-top: 100px;">
    <h3>Login</h3>

    @if (ViewBag.DidAuthenticate == false)
    {
        <h6>Please fill all fields correctly</h6>
    }


    <form method="post" asp-controller="Login" asp-action="AuthenticateUser">
        <div class="padding">
            <div class="flexem form-group">
                <label asp-for="Username">Username</label>
                <input class="no-border text-center" asp-for="Username" type="text" />
            </div>
            <div class="flexem form-group">
                <label asp-for="Password">Password</label>
                <input class="no-border text-center" asp-for="Password" type="password" />
            </div>
        </div>

        
        <button class="submit-btn" type="submit">Submit</button>
    </form>



</div>
<script>
    function fadeIn(id) {
        $(document).ready(function () {
            $(id).css("opacity", 0);
            $(id).css("position", "relative");

            $(id).animate({
                top: '+=70px'
            }, 0);

            $(id).animate({
                opacity: 1,
                top: '-=70px'
            }, 1000);
        });
    }

    fadeIn(".login");
</script>