@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model string

<div class="general-msg text-center" style="margin-top: 40vh;margin-bottom: 50vh">
    <h3>@Model</h3>
</div>

<script>
    function fadeIn(id) {
        $(document).ready(function () {
            $(id).css("opacity", 0);
            $(id).css("position", "relative");

            $(id).animate({
                top: '+=70px'
            }, 0);

            $(id).animate({
                opacity: 1,
                top: '-=70px'
            }, 1000);
        });
    }

    fadeIn(".general-msg");
</script>