<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManagerGUI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManagerGUI.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav id="headingBar" class="navbar text-center">
            <div class="container-fluid">

            </div>
            <span class="display-3">
                <a class="nav-item remove-link" asp-controller="Home" asp-action="Index">PC Dashboard</a>
            </span>
            <span class="display-3">
                <a class="nav-item remove-link" asp-controller="Weather" asp-action="Index">Weather Forecast</a>
            </span>
        </nav>
    </header>
    <div class="container justify-content-center">


        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="myFooter text-center">
            <h5 style="font-weight: 300">@@Copyright Mitchell Martin 2024</h5>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/chart.js/chart.js"></script>
    <script src="~/lib/chart.js/chart.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
