@using TaskManagerGUI.Controllers
@{
    var username = ViewData["username"] as string;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TaskManagerGUI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TaskManagerGUI.styles.css" asp-append-version="true" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <h2 id="open-sidebar">></h2>
    <header>
        <nav id="headingBar" class="text-center align-content-center">
            <div class="container-fluid">
                <span class="display-3">
                    <a class="nav-item remove-link" asp-controller="Home" asp-action="Index">TASK MANAGER</a>
                </span>
                <span class="display-3">
                    <a class="nav-item remove-link" asp-controller="Stock" asp-action="Index">COMPANY STOCK</a>
                </span>

            </div>
        </nav>

    </header>
    <script>
        $(document).ready(function () {

            $("#close-sidebar").click(function() {


                $("#sidebar").animate(
                    {"left": "-=300px"}
                    , "fast");
            });
            $("#open-sidebar").click(function () {


                $("#sidebar").animate(
                    { "left": "+=300px" }
                    , "fast");
            });
        });
    </script>

    <article id="sidebar"class="sidebar text-center">
        <h2 id="close-sidebar"><</h2>
        <h1 class="display-4">Hello, @IBaseController.Username</h1>
        <div>
            <span>
                <a class="nav-item remove-link" asp-controller="Service" action="Index">Service Manager</a>
            </span>
        </div>
        </br>
        <div>
            <span>
                <a class="nav-item remove-link" asp-controller="Login" asp-action="Index">Login</a>
            </span>
            <span>
                <a class="nav-item remove-link" asp-controller="Login" asp-action="Register">Register</a>
            </span>
            <span>
                <a class="nav-item remove-link" asp-controller="Login" asp-action="Logout">Logout</a>
            </span>
        </div>
    </article>
    <div class="">
        <main class="main" role="main">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="myFooter text-center">
            <div class="row">
                <div class="col">

                </div>
            </div>
            <h5 class="opt-out-color" style="font-weight: 300">@@Copyright Mitchell Martin 2024</h5>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/chart.js/chart.js"></script>
    <script src="~/lib/chart.js/chart.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
