@{
    ViewData["Title"] = "Home Page";
    var processList = ViewData["ProcessList"] as List<ProcessModel>;
    var memoryList = ViewData["MemoryList"] as List<MemoryModel>;

    @using Newtonsoft.Json;
}


<div class="container">
    <div class="text-center">
        <h2 class="display-4">Task Manager</h2>
        <div class="container">
            <div class="row">
                <div class="col">
                    <canvas id="runningProcessChart" style="max-width:600px;"></canvas>
                </div>
                <div class="col">
                    <canvas id="memoryCheckChart" style="max-width:600px;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script>
    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/memoryStatsHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    async function startConnection() {
        try {
            await connection.start();
            console.log("SignalR Connected");
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };

    connection.on("UpdateMemoryStats", (memoryStats) => {
        console.log("Memory Stats Updated: ", memoryStats);




        const xDates = [];
        const yCounterSamples = [];

        for (const stat of memoryStats) {
            xDates.push(stat['timeStamp']);
            yCounterSamples.push(Number(stat['megaBytes']));
        }

        const chartData = {
            labels: xDates,
            datasets: [{
                data: yCounterSamples,
                label: "Memory Usage (MB)",
                backgroundColor: 'transparent',
                pointBorderWidth: 4,
                pointStyle: 'rectRounded',
                borderColor: '#FF2E61',
                tension: 0.4
            }]
        };

        const memoryChart = new Chart("memoryCheckChart", {
            type: 'line',
            data: chartData
        });
    });

    connection.onclose(async () => {
        await startConnection();
    });

    startConnection();



</script>


<script>
    const xValues = [];
    const yValues = [];

    const randomColors = [
        "#FF0034",
        "#980015",
        "#E1274D",
        "#E71843",
        "#D18F98",
        "#FA4B9A"
    ];
    @{
        var highestCpuProcesses = processList.OrderByDescending(p => p.CPU).Take(6).ToList();
    }
    @foreach (var process in highestCpuProcesses)
    {
        <text>
            xValues.push("@process.ProcessName");
            yValues.push(@process.CPU);
        </text>
    }

    const barColors = [];
    const borderColors = [];
    for (let i = 0; i < xValues.length; i += 1)
    {
        const randomColor = randomColors[i]
        barColors.push(randomColor);
        borderColors.push(randomColor);
    }


    new Chart("runningProcessChart", {
        type: "doughnut",
        data: {
            labels: xValues,
            datasets: [{
                backgroundColor: barColors,
                borderColor: borderColors,
                data: yValues
            }]
        },
        options: {
            title: {
                display: true,
                text: "Currently Running Processes"
            },
            legend: {
                display: false
            }
        }
    });
</script>