@{
    ViewData["Title"] = "Home Page";
    var processList = ViewData["ProcessList"] as List<ProcessModel>;
    var memoryList = ViewData["MemoryList"] as List<MemoryModel>;

    @using Newtonsoft.Json;
}


@{
    string CompareToAverageCPU(List<ProcessModel> processList, double currentCPU)
    {
        double total = 0.0;
        int count = processList.Count();
        double average = 0.0;
        foreach(ProcessModel process in processList)
        {
            total += process.CPU;
        }
        average = total / count;

        double percentDifference = 100 * (average - currentCPU) / Math.Abs(currentCPU);
        int roundedPercent = (Int32) percentDifference * -1;


        if (roundedPercent < 0)
        {
            return roundedPercent.ToString() + "% ⬇️";
        }
        else
        {
            return roundedPercent.ToString() + "% ⬆️";
        }
    }
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<div id="mainCharts" class="container text-center align-content-center">
    <div class="text-center">
        <h2 class="display-4">Task Manager</h2>

        <div id="dataBlock"class="row align-content-center">
            <div class="col frame">
                <div class="container">
                    <div class="row firstChartRow">
                        <div class="col frame">
                            <head-label message="Running Processes"></head-label>
                            <canvas class="dataChart" id="runningProcessChart" style="max-width:100%; height: auto;"></canvas>
                        </div>
                        <div class="col frame">
                            <head-label message="Memory Status"></head-label>
                            <canvas class="dataChart" id="memoryCheckChart" style="max-width:100%; height: auto;"></canvas>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col frame">
                            <head-label message="CPU(s) Usage"></head-label>
                            <canvas class="dataChart" id="processBarChart" style="max-width:100%; height: auto;"></canvas>
                        </div>
                        <div class="col frame">
                            <head-label message="Expensive Programs"></head-label>
                            <br/>
                            @{
                                List<ProcessModel> cpuExpensivePrograms = processList.OrderByDescending(x => x.CPU).Take(2).ToList();
                            }

                            <div class="row align-content-center" id="shutdownProcesses" style="overflow-y: scroll; height: 200px;">
                                @{

                                    for (int i = 0; i < cpuExpensivePrograms.Count(); ++i)
                                    {

                                        var process = cpuExpensivePrograms[i];

                                        <div class="col">
                                            <div class="miniFrame align-content-center text-start">

                                                <div class="row buttonRow">
                                                    <div class="col">
                                                        <h3 style="font-weight: 300">@process.ProcessName</h3>
                                                        <h2 class="display-5">@Convert.ToInt32(process.CPU).ToString()<span style="font-size: 15px;"> CPU(s)</span></h2>

                                                        <div id="perc-title">
                                                            <span id="percent">@CompareToAverageCPU(processList, process.CPU) </span><h6> CPU-Intensive Task</h6>
                                                        </div>
                                                    </div>

                                                    
                                                    
                                                    <script>
                                                        function endProcess(processName) {
                                                            console.log(`Test: ${processName}`);

                                                            fetch('/Home/EndProcess', {
                                                                method: "POST",
                                                                body: JSON.stringify({
                                                                    processToEnd: processName
                                                                }),
                                                                headers: {
                                                                    "Content-type": "application/json; charset=UTF-8"
                                                                }
                                                            })
                                                            .then(response => response.json())
                                                            .then(json => console.log(json));
                                                        }

                                                    </script>

                                                    <div class="col align-content-center text-center">
                                                        <input onclick="endProcess('@process.ProcessName')" class="end-btn" type="button" value="End Process" />
                                                    </div>



                                                </div>

                                            </div>
                                        </div>
                                    }
                                }
                            </div>

                            <script>
                                document.addEventListener('DOMContentLoaded', function () {
                                    var element = document.getElementById("shutdownProcesses");
                                    element.scrollTop = 0;
                                });
                            </script>

                  
                            
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </div>
</div>





<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script>


    const connection = new signalR.HubConnectionBuilder()
        .withUrl("/memoryStatsHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    async function startConnection() {
        try {
            await connection.start();
            console.log("SignalR Connected");
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    };

    function formatTimeStamp(timestamp) {
        const date = new Date(timestamp);
        const hours = date.getHours().toString().padStart(2, '0');
        const minutes = date.getMinutes().toString().padStart(2, '0');
        const seconds = date.getSeconds().toString().padStart(2, '0');
        
        return `${hours}:${minutes}:${seconds}`;
    }


    connection.on("UpdateMemoryStats", (memoryStats) => {
        console.log("Memory Stats Updated: ", memoryStats);


        const xDates = [];
        const yCounterSamples = [];

        for (const stat of memoryStats) {
            xDates.push(formatTimeStamp(stat['timeStamp']));
            yCounterSamples.push(Number(stat['megaBytes']));
        }

        const chartData = {
            labels: xDates,
            datasets: [{
                data: yCounterSamples,
                label: "Memory Usage (MB)",
                backgroundColor: '#FF0034',
                borderColor: '#FF0034',
                fill: 'start'
            }]
        };


        const memoryChart = new Chart("memoryCheckChart", {
            type: 'line',
            data: chartData,
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        ticks: {
                            color: 'white',
                        },
                        title: {
                            display: true,
                            color: 'white'
                        }

                    },
                    x: {
                        ticks: {
                            color: 'white',
                        },
                        title: {
                            display: true,
                            color: 'white'
                        }
                    }
                    
                },
                layout: {
                    padding: {
                        left: 20,
                        right: 20,
                        top: 20,
                        bottom: 20
                    }
                },
                legend: {
                    labels: {
                        fontColor: 'white'
                    }
                },
                plugins: {
                    legend: {
                        labels: {
                            color: 'white'
                        }
                    }
                }
            }
        });
    });

    connection.onclose(async () => {
        await startConnection();
    });

    startConnection();



</script>


<script>

    
    const processConnection = new signalR.HubConnectionBuilder()
        .withUrl("/processHub")
        .configureLogging(signalR.LogLevel.Information)
        .build();

    async function startConnection() {
        try {
            await processConnection.start();
            console.log("SignalR Connected");
        } catch (err) {
            console.log(err);
            setTimeout(start, 5000);
        }
    }
    

    let xValues = [];
    let yValues = [];

    const randomColors = [
        "#FF0034",
        "#980015",
        "#E1274D",
        "#E71843",
        "#D18F98",
        "#FA4B9A"
    ];

    
    processConnection.on("UpdateProcesses", (processList) => {
        console.log("Processes Updated: ", processList);

        xValues = [];
        yValues = [];

        function cpuCompare(a, b) {
            return Number(b.cpu) - Number(a.cpu);
        }



        let topSixProcesses = processList.sort(cpuCompare);
        topSixProcesses = topSixProcesses.slice(0, 6);
        console.log(topSixProcesses);


        for (let i = 0; i < topSixProcesses.length; i += 1) {
            if (xValues[i] === topSixProcesses[i].processName) { 
                let processName = xValues[i];
                let cpuName = yValues[i];

                xValues = xValues.filter(item => item !== processName);
                yValues = yValues.filter(item => item !== cpuName);
            }
            
            xValues.push(topSixProcesses[i].processName);
            yValues.push(topSixProcesses[i].cpu);
        }

        const barColors = [];
        const borderColors = [];
        for (let i = 0; i < xValues.length; i += 1) {
            const randomColor = randomColors[i];
            barColors.push(randomColor);
            borderColors.push(randomColor);
        }

        const barChart = new Chart("processBarChart", {
            type: 'bar',
            data: {
                labels: xValues.slice(0, 6),
                datasets: [{
                    backgroundColor: barColors,
                    borderColor: borderColors,
                    data: yValues
                }]
            },
            options: {
                legend: {
                    display: false,
                    labels: {
                        fontColor: 'white'
                    }
                }
            }
        });

        new Chart("runningProcessChart", {
            type: "doughnut",
            data: {
                labels: xValues.slice(0, 6),
                datasets: [{
                    backgroundColor: barColors,
                    borderColor: borderColors,
                    data: yValues
                }]
            },
            options: {
                legend: {
                    display: true,
                    labels: {
                        fontColor: 'white'
                    }
                }
            }
        });
    });
    
    startConnection();



</script>