html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

#headingBar span {
    margin: 30px;
}

@media (min-width: 501px) {
    #headingBar span a {
        font-size: 24px;
    }
}

@media (max-width: 500px) {
    #headingBar span a {
        font-size: 14px;
    }
}

.dark-drop-down {
    background-color: rgb(255, 255, 255, 0.3);
    color: rgb(255, 255, 255);
    border-width: 0;
    margin-bottom: 20px;
}

.dark-drop-down option {
    background-color: rgb(0, 0, 0, 0.8);
    color: rgb(255, 255, 255);
}

.dark-drop-down.open {
    background-color: rgb(255, 255, 255, 0.2);
    color: rgb(255, 255, 255);
}



.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

a:hover {
   all: unset;
}

body {
  margin-bottom: 60px;
  background-color: rgb(0,0, 30);
  color: white;
}


.user-input {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-width: 0;
    padding: 10px;
    text-align: center;
}

.user-input:active {
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border-width: 0;
    padding: 10px;
    text-align: center;
}

.submit-btn {
    border-width: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 10, 100, 0.5);
    color: white;
}

.submit-btn:hover {
    background-color: rgba(0, 10, 100, 0.6);
}

.submit-btn:active {
    background-color: rgba(0, 10, 100, 0.3);
}

.navBar {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200px;
    color: black;
    font-weight: 800;
    background: linear-gradient(to bottom, #FF0034, rgb(50, 0, 20));
}

.opt-out-color {
    color: white;
}

.frame {
    background: linear-gradient(to bottom, rgba(255, 0, 52, 0.4), rgba(50, 0, 20, 0));
    margin: 10px;
    width: fit-content;
    padding: 2%;
    text-align: center;
    align-content: center;
    border-radius: 30px;
}

#headingBar {
    padding: 20px;
    background-color: rgba(0, 10, 100, 0.3);
    color: black;
    margin-bottom: 2%;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
    
a {
    all: unset;
    color: white;
}

h1 {
    color: white;
}


a:hover {
    color: rgba(255, 255, 255, 0.6);
}

#shutdownProcesses {
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    margin: 10px;
    overflow: auto;
}

#shutdownProcesses .row {
}

.myFooter {
    margin-top: 30px;
    background-color: rgba(0, 10, 100, 0.3);
    height: fit-content;
    padding: 30px;
}

.row {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.row::-webkit-scrollbar {
    display: none;
}

header {
    top: 0;
    left: 0;
    width: 100vw;
}

.end-btn {
    padding: 30px;
    border-radius: 20px;
    border-width: 0px;
    background-color: #1a8cff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    color: white;
    transition-duration: 0.3s;
}

    .end-btn:active {
        transform: translateY(5px);
        background-color: rgba(0, 0, 170, 1);
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    }

#headingBar span {
    font-size: 23px;
    font-weight: 350;
    color: red;
}

.miniFrame {
    background-color: rgba(0, 100, 152, 0.3);
    border-radius: 30px;
    padding: 20px;
    margin: 10px;
    align-self: center;
    align-content: center;
    width: 500px;
    height: auto;
    color: white;
}

.factFrame {
    background-color: rgba(0, 10, 100, 0.3);
    padding: 50px;
    border-radius: 30px;
    margin: 10px;
    align-self: center;
    align-content: flex-start;
    text-align: left;
    width: fit-content;
    height: auto;
    color: white;
}

@media (max-width: 499px) {
    .nextFrame {
        background-color: rgba(0, 10, 100, 0.3);
        border-radius: 30px;
        padding: 20px;
        margin: 10px;
        align-self: center;
        align-content: center;
        width: 300px;
        color: white;
    }
    .main {
        margin-right: 5%;
    }

    .row:not(#shutdownProcesses) {
        flex-direction: column;
    }

    .col:not(#shutdownProcesses) {
        width: 100%;
    }
}

@media (min-width: 500px) {
    .nextFrame {
        background-color: rgba(0, 10, 100, 0.3);
        border-radius: 30px;
        padding: 20px;
        margin: 10px;
        align-self: center;
        align-content: center;
        width: 600px;
        min-height: 400px;
        min-width: 600px;
        height: auto;
        color: white;
    }
}

.my-btn {
    border-width: 0;
    background-color: rgba(255, 255, 255, 0.3);
}

.my-btn > h6 {
    font-weight: 400;
    font-size: 17px;
    color: rgba(255, 100, 52, 0.9);
}

#percent, h6 {
    display: inline;
}

@media (max-width: 764px) {
    .firstChartRow {
        align-content: center;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        min-height: 400px;
    }

    .buttonRow {
        text-align: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .end-btn {
        margin: 10px;
    }

    .miniFrame {
        width: 300px;
    }
}
